html
{
  background-color: #383838;
}

.guessed
{
  background-color: #d1d1d1;
}

img
{
  padding: 15px;
}

button
{
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: rgb(213, 213, 213);
}
