*
{
  margin: 0;
}

h1
{
  
}

html
{
  background-color: #872a18;
}

.game
{
  border: 6px solid black;
  margin: 100px;
}

.front-face
{
  height: auto;
  max-width: 150px;
  border: 2px solid white;
}
